/* style */
html{
    overflow-x: hidden;
}
nav {
    padding-top: 20px;
}

.sidebar .active {
    color: #fff;
    background: #1e282c !important;
    border-left: 4px solid #3c8dbc !important;
}

.sidebar .nav-link{
    color: #b8c7ce;
}

.dropdown-item.active, .dropdown-item:active{
    background: transparent;
}

.dropdown-item.active{
    background: #1e282c !important;
}

@media (min-width:900px){
    .border-right{
        border-right: 1px solid #ccc;
    }
    
    .iSideNav{
    padding: 0px 10px !important;
    }
}
.error {
    color: firebrick;
}

.m-17{
    margin-top: -17px !important;
}

.mt-32{
    margin-top: -32px !important;
}

.warning{
    color: #f0ad4e;
}

.form-control-warning{
    border-color: #f0ad4e !important;
}

.btn-social>:first-child {
    line-height: 49px !important;
}

.link-style-none {
    text-decoration: none !important;
}

.active_toggle {
    color: #10D810;
}

.deactive_toggle{
    color: #E70909;
}

.ml_divider{
    margin-left:-15px !important;
}

.mr_divider{
    margin-left:15px !important;
}

.hr_divider{
    margin-top: .6rem !important;
}

/* Side nav */

/*
 * Sidebar
 */

@media(min-width: 2760px){
    .sidebar{
        left: 0px ;
    }
}

@media(min-width: 1581px){
    .sidebar{
        left: 9% ;
    }
}

@media(max-width:768px){
    .container {
        max-width: 100% !important;
        padding: 0px; 
    }
    .sidebar{
        display: none;
    }
    .col21{
        max-width: 65% !important;
    }
    .button-area1{
        display: block;
        border-radius: 20px;
    }
    .openNav{
        display: block;
    }

    .collapse .nav-item{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
    }
 
}


.hiddenShow{
    display: block !important;
    animation: slide .5s ease-in-out ;
}


@keyframes slide{
    0% {
       transform:  translateX(-100%);
    }
    100%{
        transform:  translateX(0%);
    }
}

@media(min-width: 768px){
    .button-area1{
    
    padding-left: 25% !important;
    padding-right: 25% !important;
    border-radius: 20px;
}

}
/*@media(min-width:768px) {*/
    .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    z-index: 1000;
    padding: 20px 0px !important;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}
    
.sidebar li a:hover {
    text-decoration: none;
    color: #fff;
    /*background: rgba(255, 255, 255, 0.2);*/
    background: #1e282c;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
    padding-left: 2rem !important;
    
}

.col21{
    max-width: 21%;
}


/*}*/

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.ubg-inverse {
    background: #222d32;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.wrapper {
    padding-left: 0px;
}

.page-wrapper {
    width: 100%;        
    background-color: #fff;
    padding: 22px 10px;
}

.p50 {
margin-top: 50px !important;
}

.p100 {
margin-top: 100px !important;
}

hr.one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

w20rem{
    width: 20rem;
}

  /* .form-area1{
    background-color: #FAFAFA;
 padding: 60px 50px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}*/

 .lh1{
    line-height: 2.5 !important;
}

.display-none{
    display: none;
}


/*container*/
@media (min-width: 1200px)
    {
    .container {
        max-width: 1366px;
    }
}

.col23{
    max-width: 23% !important;
}

.selectStyle option { 
padding: 0px !important;
margin: 0px !important;
}

/*Navigation dropdown */
@media (min-width: 992px){
.dropdown-menu.show:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;
    top: -14px;
    right: 7px;
}
}

/*loader*/
.css-193qd10{
   height: 15px !important;
   width: 15px !important;
}
/*end loader*/

.input-group-addon:not(:last-child) {
    border-right: 0;
}

.input-group-addon:not(:last-child){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}